.container {
	width: min(100% - 3.25rem, 62.5rem);
	margin-inline: auto;
	padding-block: var(--size-500);
}

.container h1 {
	font-size: var(--size-600);
	text-align: center;
	line-height: 1.1;
	color: var(--clr-purple-200);
}
