.screen {
	text-align: center;
	padding-block: 2rem;
	display: grid;
}

.screen h1 {
	font-size: 2.5rem;
	line-height: 1.1;
	color: var(--clr-purple-200);
}

.screen p {
	max-width: 45rem;
	margin-inline: auto;
}

/* Paragraph with a h1 before it */
.screen h1 + p,
.form {
	margin-top: 2.5rem;
}

.screen p + p {
	margin-top: 1rem;
}

.form {
	text-align: start;
	padding: 2.1875rem 2.5rem;
	border-radius: 0.625rem;
	background-color: var(--clr-blue-700);
	display: grid;
	gap: 1.5rem;
	box-shadow: var(--shadow-400);
}

@media (min-width: 50em) {
	.form {
		grid-template-columns: repeat(2, 1fr);
	}

	.form button,
	.form__group:last-of-type {
		grid-column: 1 / -1;
	}
}

.form__group {
	display: grid;
	gap: 0.5rem;
}

.form__label {
	font-weight: 700;
}

.form__input {
	color: var(--clr-neutral-500);
	min-height: 2.875rem;
	padding: 0.625rem 0.5rem;
	border: 0;
	border-radius: 3px;
	box-shadow: var(--shadow-200);
	background-color: var(--clr-blue-900);
}

.form__input:focus,
.form__input:focus {
	outline: 2px solid var(--clr-purple-600);
}
