.stats {
	margin-top: 2.5rem;
	padding: var(--size-400) var(--size-600);
	border-top-left-radius: 0.625rem;
	border-top-right-radius: 0.625rem;
	background-color: var(--clr-blue-700);
	box-shadow: var(--shadow-400);
	display: grid;
	gap: var(--size-300);
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.stats__column {
	display: grid;
	line-height: 1;
	gap: 0.5rem;
}

.stats__column span {
	text-align: center;
	display: inline-block;
}

.stats__column span:nth-child(1) {
	color: var(--clr-neutral-200);
}

.stats__column span:nth-child(2) {
	font-size: 2.1875rem;
	font-weight: 700;
}
