@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700&display=swap");

:root {
	--clr-neutral-50: hsl(0, 0%, 100%);
	--clr-neutral-100: hsl(0, 0%, 90%);
	--clr-neutral-200: hsl(0, 0%, 80%);
	--clr-neutral-300: hsl(0, 0%, 70%);
	--clr-neutral-400: hsl(0, 0%, 60%);
	--clr-neutral-500: hsl(0, 0%, 50%);
	--clr-neutral-600: hsl(0, 0%, 40%);
	--clr-neutral-700: hsl(0, 0%, 30%);
	--clr-neutral-800: hsl(0, 0%, 20%);
	--clr-neutral-900: hsl(0, 0%, 10%);

	--clr-purple-100: hsl(250, 100%, 95%);
	--clr-purple-200: hsl(250, 70%, 83%);
	--clr-purple-300: hsl(249, 50%, 70%);
	--clr-purple-400: hsl(250, 56%, 66%);
	--clr-purple-500: hsl(249, 46%, 54%);
	--clr-purple-600: hsl(249, 43%, 46%);
	--clr-purple-700: hsl(249, 49%, 39%);

	--clr-blue-600: hsl(231, 29%, 32%);
	--clr-blue-700: hsl(231, 29%, 22%);
	--clr-blue-900: hsl(233, 36%, 15%);

	--shadow-100: 0 1px 1px hsl(0 0% 0% / 0.25), 0 0 1px hsl(0 0% 0% / 0.31);
	--shadow-200: 0 3px 5px hsl(0 0% 0% / 0.2), 0 0 1px hsl(0 0% 0% / 0.31);
	--shadow-300: 0 8px 12px hsl(0 0% 0% / 0.15), 0 0 1px hsl(0 0% 0% / 0.31);
	--shadow-400: 0 10px 18px hsl(0 0% 0% / 0.15), 0 0 1px hsl(0 0% 0% / 0.31);
	--shadow-500: 0 18px 28px hsl(0 0% 0% / 0.15), 0 0 1px hsl(0 0% 0% / 0.31);
}

/* Resets */
html {
	box-sizing: border-box;
	color-scheme: dark;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Karla", sans-serif;
	line-height: 1.6;
	color: var(--clr-neutral-50);
	min-height: 100vh;
	background-color: var(--clr-blue-900);
	isolation: isolate;
}

input,
select,
button {
	font: inherit;
	color: inherit;
	display: inline-block;
}

button {
	cursor: pointer;
	border: 0;
}

img {
	display: block;
	max-width: 100%;
}

/* Utility Classes */

.btn {
	width: 100%;
	margin-top: 1rem;
	padding: 0.75rem 1.5rem;
	border-radius: 3px;
	box-shadow: var(--shadow-200);
	background-color: var(--clr-purple-600);
}

.btn:hover,
.btn:focus {
	background-color: var(--clr-purple-700);
}

.btn:focus {
	outline: 2px solid var(--clr-purple-600);
}
